/*
    Comentario
*/
* {
    margin: 0;
    box-sizing: border-box;

}

ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

a {
    text-decoration: none;
}

#body-div {
    background-color: black;
    color: aquamarine;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    color: aqua;
}

.cabecera-div {
    display: flex;
    justify-self: start;
}

.cabecera-logo {
    width: 300px;
}

.navegador-lista {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin: 20px;
}


.form_contacto {
    background-color: rgb(67, 130, 182);
    width: 400px;
    margin: 40px auto 40px auto;
    padding: 25px;
    border-radius: 10px;
}

.form-contacto-grupo {
    width: 100%;
    padding: 10px auto 10px auto;
}

.form-contacto-grupo-textarea {
    width: 100%;
    gap: 20px;
    padding: 5px;
}