/*
    Comentario
*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#body-div {
    background-color: black;
    color: aquamarine;
}

nav {
    display: flex;
    position: relative;
    color: aqua;
    list-style-type: none;
}

.lista {
    display: flex;
    padding: 20px;
    align-items: center;
    margin: 20px;
}

.cabecera-div {
    height: 30px;
    width: 30px;
}